html {
   height: 100%;
}
body {
  margin: 0;
  opacity: 1;
  background-color: white;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  font-family: sans-serif;
  overflow: hidden;
}
.foot{
    margin-top: 5%;
 display: inline;
}
 .row1 {
  float: left;
  height: 50%;
  width: 105%;
}
.row2 {
  float: left;
  height: 50%;
  width: 105%;
}
.col_4{
    float: left;
    position: relative;
    width: 33.33%; 
}
.last{
    margin-right: 0 !important;
    float: right;
      }

.col_2 {
    float: left;
    position: relative;
    width: 8.5%;
    padding-left: 1%
}

.col_10 {
    float: left;
    position: relative;
}

.col_10 .col_5 {
    width:50.0%;
}


.pre_2 {
  margin-left: 15%;
}

.pre_5 {
  padding-left: 43.25%;
}

.first {
 float: left;
}

p{
 font-family: 'Raleway', sans-serif;
}
h1{ display: block;
  clear: none;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 30px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
}

.row2 h1{ display: block;
  margin-top: 5%;
  margin-left:0;    
  clear: none;
  color: white;
  font-size: 30px;
  line-height: 22px;
  font-weight: 600;
  text-align: center;
}

h3 {
  margin-bottom: 20%;
  padding-left: 1%;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0.25px;
  text-align: center;
}

a{
 text-decoration: none;
 font-family:'Raleway',sans-serif;
}

.lo {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 20%;
    position: absolute;
}

.lo img {
    display: block;
margin:auto auto;
}

nav {
  -webkit-transition: color 700ms ease;
  -o-transition: color 700ms ease;
  transition: color 700ms ease;
  color: #5a5a5a;
  font-size: 11px;
  line-height: 40px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

.nav:hover {
  color: #858585;
}

.aboutsidebar   {
  height: 100%;
  background-color:#00aef7;
  color: #EFEAFA;
  z-index: 1;
  padding-left: 1%;
  color: #EFEAFA;
  position: absolute;
  padding-top: 3%;
  width: 15%;
  overflow:hidden
}   
.considebar   {
  height: 100%;
  background-color:#f2b70d;
  color: #ffce3d;
  position: fixed;
  z-index: 1;
  padding-left: 1%;
  padding-right: 5%;
}

.edusidebar  {
  height: 100%;
  background-color:#75bd3f;
  color: #EFEAFA;
  position: absolute;
  z-index: 1;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 3%;
  width: 14%;
  overflow:hidden
}
.intsidebar  {
  height: 100%;
  background-color:#363636;
  color: #EFEAFA;
  position: absolute;
  z-index: 1;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 3%;
  width: 14%;
  overflow:hidden
}

.intsidebar a:hover{
color:white;
}
.aboutsidebar a{
color:#6bd5ff;
}
.edusidebar a{
color:#7fcf45;
}
.intsidebar a{
color: #5a5a5a;
}
.considebar a{
color: #ffce3d;
}

.aboutsidebar a:hover {
  color: #fff;
}
.active{
color:#fff;
font-weight:500;
font-size:15px;
}

#name{
  min-height: 315px;
  background-color: #00b6ff;
  text-align: center;
  padding: 0px;
}


@-webkit-keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@-webkit-keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }

  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
}

@keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }

  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
}

.hover-shadow {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hover-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 80%;
  left: 5%;
  height: 7px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hover-shadow:hover, .hover-shadow:focus, .hover-shadow:active {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
  -webkit-animation-name: hover;
  animation-name: hover;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.hover-shadow:hover:before, .hover-shadow:focus:before, .hover-shadow:active:before {
  opacity: .4;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  -webkit-animation-name: hover-shadow;
  animation-name: hover-shadow;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

#aboutme {
  height: 100%;
  background-color: #3bba9f;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}

#aboutme:hover {
  background-color: #3b3b3b;
    opacity: 1;}

#edu  {
  height: 100%;
  background-color: #75bd3f;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  animation:  swing 500ms infinte ease-in;
}

#edu:hover {
  background-color: #3b3b3b;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  animation:  swing 0.1s infinte ease-in;
}

#it {
  height: 100%;
  background-color: #b8af2d;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}
#it:hover {
  background-color: #3b3b3b;
}
#project {
  height: 100%;
  background-color:  #ffc41a;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}
#project:hover {
  background-color: #3b3b3b;
  color: #363636;
}

#contact {
  height: 100%;
  background-color: #ff7b0f;
  opacity: 1;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}

#contact:hover {
  background-color: #3b3b3b;
}

.amart {
  height: 100%;
  opacity: 1;
  background-color:#00b6ff;
  margin-left: 10%;
  width: 90%;

}
.conart {
    height: 100%;
    opacity: 1;
    background-color:#ffc41a;
}
.eduart {
    height: 98.01%;
    opacity: 1;
    background-color:#fff;
}

.edusidebar a:hover{
  color: white;
}

.intart {
  height: 98.01%;
  opacity: 1;
  background-color:#fff;
}

.intart h2{
text-align: center;
}
.intart h1{
  line-height: 1.5em;
  margin-top: 6%
}

.icon{
  margin-left: 45%;
  margin-top: 10%;
  height: 10%;
}

#grad  {
  height: 100%;
  padding: 0px;
  background-color:#00b6ff;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  position: relative;
   
}
#grad:hover .imgDescription {
  visibility: visible;
  opacity: 1;
 text-align: center;
}
#grad:hover figcaption {
background-color: rgba(0,0,0,0.8);
    opacity: 1;
}

#sec  {
  height: 100%;
  padding: 0px;
  background-color:#3bba9f;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  position: relative;
}
#sec:hover figcaption {
  background-color: rgba(0,0,0,0.8);
	opacity: 1;
}

figcaption {
	color: white;
	display: table;
  width: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
  text-align: left;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  height: 100%;
}

figcaption p {
  margin-top: 8%;
	display: table-cell;
	font-size: 1em;
	position: relative;
	top: 0px;
	width: 289px;
	vertical-align: middle;
  line-height: 2em;
  margin-left: 10em;
}

.animated {
  -webkit-animation-duration: 900ms;
          animation-duration: 900ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 25%, 0);
            transform: translate3d(0, 25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 25%, 0);
            transform: translate3d(0, 250%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUp:hover {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}



#high:hover figcaption {
  background-color: rgba(0,0,0,0.8);
	opacity: 1;
}
#int:hover figcaption {
  background-color: rgba(0,0,0,0.8);
	opacity: 1;
}
#lang:hover figcaption {
  background-color: rgba(0,0,0,0.8);
	opacity: 1;
}
#tech:hover figcaption {
    background-color: rgba(0,0,0,0.8);
	opacity: 1;
}

#high  {
  height: 100%;
  background-color:#b8af2d;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  position: relative;
}
#int {
  height: 100%;
  background-color:#75bd3f;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  position: relative;
}
#lang {
  height: 100%;
  background-color: #ffc41a;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  position: relative;
}
#tech {
  height: 100%;
  background-color: #ff7b0f;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  position: relative;
}

#pre {
  height: 100%;
  background-color:#00b6ff;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  position: relative;
}
.col2{
  height: 33.3%;
  -webkit-columns: 2 300px;
  -moz-columns: 2 300px;
  columns: 2 300px;
  -webkit-column-gap: 0em;
  -moz-column-gap: 0em;
  column-gap: 0em;
}
@media (min-width: 500px) {
  .col2 { width:100%;
         -webkit-column-count: 1 100px;
         -moz-column-count: 1 100px;
         column-count: 1 100px;
  }
}
ul{
  padding: 120px 10px 120px 10px;
}
.aboutText {
  height: 100%;
  opacity: 1;
  background-color:#00b6ff;
  margin-left: 10%;
  width: 80%;
  text-align: center;

}