html {
   height: 100%;
}
body {
   height: 100%;
  margin: 0;
  padding: 0;
opacity: 1;
  background-color: white;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
.foot{
    margin-top: 5%;
 display: inline;
}
a{
 text-decoration: none;
    font-family: sans-serif;
}
.aboutsidebar a{
color:#6bd5ff;
}
.edusidebar a{
color:#7fcf45;
}
.intsidebar a{
color: #5a5a5a;
}
.considebar a{
color: #ffce3d;
}

.aboutsidebar, edusidebar, .intsidebar, .considebar  a:hover{

  color: #fff;
}



.active{
color:#fff; font-weight:500; font-size:15px;
}


#name{
  display: block;
  height: 100%;
  background-color: #00b6ff;
  text-align: center;
    padding: 0;
}
#aboutme {
  height: 100%;
  padding: 0px;
  background-color: #3bba9f;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
    
}
#aboutme:hover {
  background-color: #3b3b3b;
    opacity: 1;}
 
#aboutme img :hover{  
    
    transform: rotateX(90deg) rotateY(90deg) rotateZ(180deg);
   
    -webkit-transition: opacity 300ms, transform 700ms ease;
    transition: opacity 300ms, transform 700ms ease; 
 
 }

#edu  {
  height: 100%;
  background-color: #75bd3f;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
padding: 0;
}
#edu:hover {
  background-color: #3b3b3b;
    -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}


 .row2 {
  height: 33.3%;
     width: 100%;
}
.col_4{
width: 33.33%;
    
}
#it {
  height: 100%;
  background-color: #b8af2d;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}
#it:hover {
  background-color: #3b3b3b;
}
#project {
  height: 100%;
  background-color:  #ffc41a;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}
#project:hover {
  background-color: #3b3b3b;
  color: #363636;
}

#contact {
  height: 100%;
  background-color: #ff7b0f;
  opacity: 1;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}
#contact:hover {
  background-color: #3b3b3b;
}



h1{ display: block;

  clear: none;
  font-family: 'Quebec serial', sans-serif;
  color: white;
  font-size: 30px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;}
.row2 h1{ display: block;
  margin-top: 5%;
 margin-left:0;    
  clear: none;
  font-family: 'Quebec serial', sans-serif;
  color: white;
  font-size: 30px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;}

h3 {

  margin-bottom: 20%;

  padding-left: 1%;
  font-family:'Quebec serial', sans-serif;
  color: white;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.25px;
   text-align: center;
}

.edusidebar  {
  height: 98%;
  background-color:#75bd3f;
  color: #EFEAFA;
    position: absolute;
    z-index: 1;
    padding-left: 5%;
 padding-right: 5%;
}
.intsidebar  {
    
  height: 98%;
  background-color:#363636;
  color: #EFEAFA;
    position: absolute;
    z-index: 1;
    padding-left: 5%;
 padding-right: 5%;
}






nav {
  -webkit-transition: color 500ms ease;
  -o-transition: color 500ms ease;
  transition: color 500ms ease;
  font-family:'Quebec serial', sans-serif;
  color: #5a5a5a;
  font-size: 11px;
  line-height: 43px;
  text-align: center;
}
.nav:hover {
  color: #858585;

}

.col_2 {
    padding-left: 0;
}

.amart {

    height: 100%;
    opacity: 1;
    background-color:#00b6ff;
}
.conart {

    height: 100%;
    opacity: 1;
    background-color:#ffc41a;
}
.eduart {

    height: 100%;
    opacity: 1;
    background-color:#fff;
}
.intart {

    height: 100%;
    opacity: 1;
    background-color:#fff;
}
.intart h2{
text-align: center;
}
.intart h1{
    line-height: 1.5em;
margin-top: 13%}



.aboutsidebar   {
  height: 100%;
  background-color:#00aef7;
  color: #EFEAFA;
    position: fixed;
    z-index: 1;
    padding-left: 1%;
 padding-right: 5%;
}   
.considebar   {
    max-width: 150px;
  height: 98%;
  background-color:#f2b70d;
  color:#ffce3d;
    position: fixed;
    z-index: 1;
    padding-left: 1%;
 padding-right: 5%;

}   



     .row1 {
  height: 50%;
     width: 100%;

}
#grad:hover .imgDescription {
  visibility: visible;
  opacity: 1;

        text-align: center;
    }


#grad  {
  height: 100%;
  padding: 0px;
  background-color:#00b6ff;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
    position: relative;
}

.icon{
margin-left: 45%;
    margin-top: 10%;
}

figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	display: table;
	height: 100%;
    width: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
    text-align: center;
}
#grad:hover figcaption {
	opacity: 1;
}
 figcaption p {
     margin-top: 8%;
	display: table-cell;
	font-size: 1.5em;
	position: relative;
	top: 0px;
	width: 289px;
	vertical-align: middle;
     line-height: 2em;
}

#sec  {
  height: 100%;
  padding: 0px;
  background-color:#3bba9f;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
    position: relative;
}
#sec:hover figcaption {
	opacity: 1;
}
#high:hover figcaption {
	opacity: 1;
}
#int:hover figcaption {
	opacity: 1;
}
#lang:hover figcaption {
	opacity: 1;
}
#tech:hover figcaption {
	opacity: 1;
}


#high  {
  height: 100%;
  padding: 0px;
  background-color:#b8af2d;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
    position: relative;
}
#int {
  height: 100%;
  padding: 0px;
  background-color:#75bd3f;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
    position: relative;
}
#lang {
  height: 100%;
  padding: 0px;
  background-color: #ffc41a;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
    position: relative;
}
#tech {
  height: 100%;
  padding: 0px;
  background-color: #ff7b0f;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
    position: relative;
}


.lo {
    width: 100%;
    height: 100;
    text-align: center;
    margin-top: 20%;
    position: absolute;
}
.lo img {
    display: block;
margin:auto auto;}


